# Docker/Traefik config
DOMAIN=domain
EMAIL=email@domain
CERT_RESOLVER=

# Client config
GOOGLE_CLIENT_ID=googl-client-id
GOOGLE_CLIENT_SECRET=google-client-secret
AUTH_SECRET=auth-secret
NEXTAUTH_URL=https://domain
USER_WHITELIST=user1-id
user2-id
user3-id

# Redis config
REDIS_PASSWORD=redis-password
